@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Inter:100,700,400,600');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/SF-Pro.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Rounded-Semibold';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
}

body {
  @apply text-[16px] text-[#222734] font-inter;
}

.container {
  @apply sm:px-0 px-[20px];
}

.container-sm {
  @apply container xl:max-w-[1200px];
}

p {
  @apply sm:text-[15px] sm:leading-[20px] text-[12px] leading-[15px];
}

h5 {
  @apply sm:text-[20px] sm:leading-[24px] text-[15px] leading-[18px];
}

h4 {
  @apply sm:text-[24px] sm:leading-[28px] text-[18px] leading-[21px];
}

h3 {
  @apply sm:text-[28px] sm:leading-[34px] text-[21px] leading-[26px];
}

h2 {
  @apply sm:text-[36px] sm:leading-[44px] text-[27px] leading-[33px];
}

h1 {
  @apply sm:text-[56px] sm:leading-[68px] text-[42px] leading-[51px];
}

hr {
  @apply w-[100%] !h-[2px] bg-[#f1f3f5];
}

.card {
  @apply bg-white rounded-[20px];
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.01), 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 22px rgba(0, 0, 0, 0.04);
}

.menu-shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.01), 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 22px rgba(0, 0, 0, 0.04);
}
