@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css?family=Inter:100,700,400,600');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/SF-Pro.ttf') format('truetype');
}

@font-face {
  font-family: 'SF Pro Rounded-Semibold';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'SF Pro Rounded-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
}

* {
  @apply sm:text-[16px] sm:leading-normal text-[12px] leading-[18px] outline-none;
}

body {
  @apply relative h-screen  text-[#222734] font-inter overflow-x-hidden;
}

main {
  @apply grow flex flex-col;
}

p {
  @apply sm:text-[15px] sm:leading-[20px] text-[12px] leading-[15px];
}

div {
}

h5 {
  @apply sm:text-[20px] sm:leading-[24px] text-[15px] leading-[18px];
}

h4 {
  @apply sm:text-[24px] sm:leading-[28px] text-[18px] leading-[21px];
}

h3 {
  @apply sm:text-[28px] sm:leading-[34px] text-[21px] leading-[26px];
}

h2 {
  @apply sm:text-[36px] sm:leading-[44px] text-[27px] leading-[33px];
}

h1 {
  @apply sm:text-[56px] sm:leading-[68px] text-[42px] leading-[51px];
}

hr {
  @apply w-[100%] !h-[2px] bg-[#f1f3f5];
}

input[type='checkbox'] {
  @apply w-[20px] h-[20px] text-primary focus:checked:ring-2 focus:checked:ring-offset-2 focus:ring-primary-light border-[2px] border-gray-200 disabled:border-gray-100 disabled:checked:border-primary-light disabled:checked:bg-primary-light checked:border-primary rounded-[6px] cursor-pointer disabled:cursor-default appearance-none shrink-0;
}

input[type='checkbox']:checked {
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

#app {
  @apply flex flex-col min-h-screen;
}

.container {
  @apply sm:px-0 px-[20px];
}

.container-sm {
  @apply container xl:max-w-[1200px];
}

.card {
  @apply bg-white rounded-[20px];
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.01), 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 22px rgba(0, 0, 0, 0.04);
}

.menu-shadow {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.01), 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 22px rgba(0, 0, 0, 0.04);
}

.old-box-shadow {
  box-shadow: 0px 2.7218px 10.8872px rgba(0, 0, 0, 0.01), 0px 0px 5.44361px rgba(0, 0, 0, 0.04),
    0px 2.7218px 29.9398px rgba(0, 0, 0, 0.04);
}

.opacity-gradient-box-shadow {
  position: relative;
  transform-style: preserve-3d;
}

.opacity-gradient-box-shadow .sh {
  position: absolute;
  inset: calc(-8px - 3px - 1px);
  border: calc(8px + 3px + 1px) solid #0000;
  border-radius: calc(8px + 3px + 1px + 24px);
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transform: translateZ(-1px);
  pointer-events: none;
}

.opacity-gradient-box-shadow .sh::before {
  content: '';
  position: absolute;
  inset: -3px;
  border-radius: 24px;
  background: linear-gradient(rgba(0, 0, 0, 0.04), #0000);
  filter: blur(2px);
  transform: translate(0, 2px);
}

.vertical-line {
  @apply h-full w-[4px] min-w-[4px] rounded-[20px] bg-gray-100 grow-0;
}
