:root {
  --amethyst: #a35aff1a;
  --darkbackgroundprimary-button: #ffffff;
  --darkbackgroundview: #121316;
  --darkpalettehighlight: #ffffff;
  --darktextprimary: #ffffff;
  --darktextwhite: #ffffff;
  --lightbackgroundbutton-primary: #121316;
  --lightbackgroundelevated: #ffffff;
  --lightbackgroundgrouped: #f1f3f5;
  --lightbackgroundview: #ffffff;
  --lightpaletteblue: #3fa3ff;
  --lightpalettehighlight: #000000;
  --lightpalettepurple: #a25aff;
  --lighttextbutton-primary: #ffffff;
  --lighttextprimary: #212634;
  --lighttextsecondary: #68707a;
  --lighttexttertiary: #a4aab2;
  --lighttextwhite: #ffffff;
  --onyx: #35363a;
  --shark: #202124;
  --white: #ffffffe6;

  --font-size-12px: 12px;
  --font-size-20px: 20px;
  --font-size-24px: 24px;
  --font-size-30px: 30px;
  --font-size-l: 17px;
  --font-size-m: 16.6px;
  --font-size-s: 16px;
  --font-size-xl: 18px;
  --font-size-xs: 15px;
  --font-size-xxl: 21.8px;
  --font-size-xxxl: 22px;

  --font-family-inter: 'Inter', Helvetica;
  --font-family-roboto-regular: 'Roboto-Regular', Helvetica;
  --font-family-sf_pro-bold: 'SF Pro-Bold', Helvetica;
  --font-family-sf_pro_rounded-bold: 'SF Pro Rounded-Bold', Helvetica;
  --font-family-sf_pro_rounded-semibold: 'SF Pro Rounded-Semibold', Helvetica;
  --font-family-undefined-regular: 'undefined-Regular', Helvetica;
}
